input.erro {
  border: 2px solid red;
}

small.erro {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.input__box {
  position: relative;
}

.input__box small {
  position: absolute;
  bottom: -18px;
  left: 5px;
  font-size: 11px;
  color: red;
}